<!DOCTYPE html>
<html
  ng-app="app"
  ng-controller="MainCtrl">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/base.min.css">
</head>
<body ng-keydown="keydown($event)">

  <header class="tall-sticky top-0 z1 bg-white">
    <div class="py1 border-bottom">
      <h1 class="h2 md-h1 lg-h0 caps bold center md-left-align px2 m0">
        <span ng-hide="player.currentTrack">
          {{ title }}
        </span>
        <span class="ng-hide" ng-show="player.currentTrack">
          {% player.currentTrack.title %}
        </span>
      </h1>
      <div class="md-flex flex-center">
        <div class="flex flex-center">
          <button class="flex-grow button-transparent" ng-click="previous()">
            {{icon "previous" }}
          </button>
          <button class="flex-grow h2 button-transparent bg-lighter-gray" ng-click="playPause(player.i)">
            <span ng-hide="player.playing">
              {{icon "play" }}
            </span>
            <span class="ng-hide" ng-show="player.playing">
              {{icon "pause" }}
            </span>
          </button>
          <button class="flex-grow button-transparent bg-lighter-gray" ng-click="next()">
            {{icon "next" }}
          </button>
        </div>
        <div class="flex-auto px2">
          <progress class="progress mt1 mb1 progress-blue" value="{% currentTime / duration %}" ng-click="player.seek($event)"></progress>
        </div>
        <div class="h6 flex px2">
          <div class="ng-hide mr1" ng-show="currentTime >= 0">{% currentTime | time %}</div>
          <div class="flex-grow">&nbsp;</div>
          <div class="ng-hide right-align" ng-show="currentTime >= 0">{% duration | time %}</div>
        </div>
      </div>
    </div>
  </header>

  {{#block "body" }}
  {{/block}}

  <footer class="h5 p2 mb4">
    <p>
      Microbeats is an experiment in music production emphasizing quantity over quality. All loops are created by Jxnblk in under an hour and not mixed down or mastered.
    </p>
    <div class="mxn2">
      <a href="http://jxnblk.com" class="button">Created by Jxnblk</a>
      <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" class="button">Licensed under Creative Commons</a>
      <a href="http://soundcloud.com/jxnblk" class="button">SoundCloud</a>
    </div>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
  <script src="js/app.min.js"></script>

</body>
</html>
