{{#extend "application" }}

{{#content "body" }}
<div class="sticky-offset">
  <ul class="list-reset" tracklist>
    {{#each tracks }}
      <li id="{{ permalink }}" class="flex flex-center border-bottom"
        ng-class="{'blue bg-light-blue': player.i == {{ @index }} }"
        data-src="{{ stream_url }}?client_id={{ ../client_id }}"
        data-index="{{ @index }}"
        data-permalink="{{ permalink }}"
        data-title="{{ title }}"
        >
        <a href="##{{ permalink }}"
          class="flex-grow col-10 button button-transparent"
          ng-click="player.playPause({{ @index }})">
          <p class="h6 caps regular m0">
            {{date created_at }}
          </p>
          <h2 class="h3 caps bold m0">{{ title }}</h2>
        </a>
        <a href="{{ permalink_url }}" class="button button-transparent" target="_blank">
          {{icon "chevron-right" }}
        </a>
      </li>
    {{/each}}
  </ul>
</div>
{{/content}}

{{/extend}}
